:root {
	--header-bgcolor: #FFFFFF;
	--footer-bgcolor: #2E2F42;
	--hero-bgcolor: #2E2F42;
	--first-bgcolor: #FFFFFF;
	--second-bgcolor: #F4F4FD;
	--studio-button-bgcolor: #4D5AE5;
	--active-button-bgcolor: #404BBF;
	--portfolio-button-bgcolor: #F4F4FD;
	--logo-color: #4D5AE5;
	--header-logo-color: #2E2F42;
	--footer-logo-color: #F4F4FD;;
	--title-color: #2E2F42;
	--addres-color: #434455;
	--hero-title-color: #FFFFFF;
	--studio-button-color: #FFFFFF;
	--portfolio-button-color: #4D5AE5;
	--active-button-color: #FFFFFF;
	--text-color: #434455;
	--body-color: #434455;
	--link-active-color: #4d5ae5;
	--box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	--box-shadow-active: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
		0px 2px 1px rgba(46, 47, 66, 0.08);


}

body {
	font-family: "Roboto", sans-serif;
	color: var(--body-color);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
/* ---------HEADER------------- */

.header {
	background-color: var(--header-bgcolor)
}
.logo,
.header-logo,
.footer-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--logo-color)
}
.header-logo {
	color: var(--header-logo-color)
}

.header-list {
}
.header-item {
}
.header-link {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--title-color)
}

.header-mail,
.header-tel {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--addres-color)
}
.header-tel:hover,
.header-mail:hover,
.hrader-tel:focus,
.header-mail:focus {
	color: var(--link-active-color);
}

.curent{
	color: var(--link-active-color);
}
/* ---------HERO------------- */

.hero {
	background: var(--hero-bgcolor);
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--hero-title-color);
}
.hero-button {
	font-family: inherit;
	padding: 16px 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--studio-button-color);
	background: var(--studio-button-bgcolor);
	box-shadow: var(--box-shadow)
	border-radius: 4px;
	border: transparent;
}
.hero-button:hover {
	background: #4d5ae5;
	box-shadow: var(--box-shadow-active)
}
.hero-button:active {
	background: var(--active-button-bgcolor);
	box-shadow: var(--box-shadow);
}
.about {
}
.about-list {
}
.about-item {
}
.about-after-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-color);
}
.about-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--text-color);
}

/* ---------WORK------------- */

.work {
}
.work-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-color);
}
.work-list {
}
.work-item {
}

/* ---------TEAM------------- */

.team {
	background: #f4f4fd;
}
.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--title-color);
}
.team-list {
}
.team-item {
}
.team-after-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--title-color);
}
.team-text {
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--text-color);
}

/* ---------FOOTER------------- */

.footer {
	background: var(--footer-bgcolor);
}
.fotter-text {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #e7e9fc;
}
.footer-logo {
	color: var(--footer-logo-color);
}

/* ---------------------------PORTFOLIO-------------------- */

.portfolio {
	background: var(--first-bgcolor);
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-btn {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--portfolio-button-color);
	background: var(--portfolio-button-bgcolor);
	border: 1px solid #e7e9fc;
	border-radius: 4px;
}
.btn:hover,
.btn:focus {
	color: var(--active-button-color);
	background: var(--active-button-bgcolor);
	box-shadow: var(--box-shadow-active);
}
.portfolio-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-color);
}
.portfolio-text {
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
}
